//
//Fonts
//
@font-family-name__base: 'Lato';

//
//Color
//
@_color-theme-second: #94c347;
@_color-background-partial: #3a3a3c;
@_color-header-info: #afafaf;
@_color-footer-info: #afafaf;
@_color-narbar-menu: #969696;
@_color-narbar-menu-active: @color-white;
@_color-border-page: #e6e5e5;

@font-face {
	font-family: 'Willona';
	src: url('../fonts/willona-brush.ttf');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

//
//Mixin
//
.set-width-box(@width){
	display: block;
	width: @width;
	float: left;
}
.set-icon-footer(@color, @icon){
	&:before{
		font-family: fontawesome;
		content: @icon;
		color: @color;
		margin-right: 10px;
	}	
}
.transform(@transform-value){
	-moz-transform: @transform-value;
	-webkit-transform: @transform-value;
	-o-transform: @transform-value;
	-ms-transform: @transform-value;
	transform: @transform-value;
}
.transition(@property,@time,@func){
	-webkit-transition: @property @time @func;
	-moz-transition: @property @time @func;
	-ms-transition: @property @time @func;
	-o-transition: @property @time @func;
	transition: @property @time @func;
}
.custom-btn-action-hover(){
	background: @_color-theme-second !important;
	border: 1px solid @_color-theme-second;
	&:before{
		color: @color-white;
		background: @_color-theme-second;
		.transition(all, 0.2s, ease) !important;
	}
	.transition(all, 0.2s, ease) !important;
}
.custom-btn-action-hover-reverse(){
	background: @color-white !important;
	border: 1px solid @_color-theme-second;
	&:before{
		color: @_color-theme-second;
		background: @color-white;
		.transition(all, 0.2s, ease);
	}
	.transition(all, 0.2s, ease);
}

//
//Header
//

.page-header{
	background-color: @_color-background-partial;
	a,p{
		color: @color-white;
	}
	.extra-menu{
		display: none;
	}
	.panel.header{
		margin: auto;
		.header-info{
			width: 50%;
			float: left;
			font-size: 13px;
			color: @_color-header-info;
			ul{
				padding-left: 0;
				list-style:none;
				li{
					a{
						color: #ccc;
						text-decoration: none;
						&:hover{
							color: @color-white;
						}
					}
					i{
						margin-right: 5px;
					}
					display:inline-block;
					&:first-child{
						padding-right: 20px;
						border-right: solid 2px @_color-header-info;
						line-height: 14px;
					}
					&:nth-child(2){
						padding-left: 20px;
					}
				}
			}
		}
		.header.links{
			li{
				line-height: 14px;
				margin: 0px;
			}
			li:not(:last-child){
				border-right: solid 1px @_color-header-info;
				padding-right: 12px;
			}
			li:not(:first-child){
				padding-left: 10px;
			}
		}
	}
	.panel.wrapper{
		border-bottom: none;
		background-color: @color-black;
		height: 40px;
	}
	.header.content{
		padding: 25px 0px 20px 0px;
		height: 80px;
		.logo{
			margin-left: -80px;
			left: 50%;
		}
	}
}

//
//Header Menu Tablet & Desktop
//
@media screen and (min-width: 768px) {
	.navigation{
		.level0.active > .level-top,
		.level0.has-active > .level-top{
			border-color: @_color-theme-second;
			border-width: 0 0 5px;
			bottom: -5px;
			color: @color-white;
		}
		.level0 > .level-top:hover, .navigation .level0 > .level-top.ui-state-focus{
			color: @color-white;
		}
		.level0 .submenu .active > a {
			border-color: @_color-theme-second;
		}

		ul{
			text-align: center;
			padding: 0;
			float: left;
			width: 100%;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: center;
			.search-menu, .minicart-shopping {
				line-height: 53px;
				padding: 0 20px;
				margin: 0;
				color: #a9a9a9;
			}
			li.search-menu {
				position: relative;
				.mage-dropdown-dialog {
					position: absolute;
					right: 0;
					.block-search {
						padding: 0 !important;
						margin: 0 !important;
						top: -4px;
						right: 0px;
						padding: 0 10px;
						input{
							border: 0;
							width: 100%;
							font-size: 14px;
							background-color: rgba(0, 0, 0, 0.5);
							color: @color-white;
							height: 30px;
							border-radius: 5px;
							&::placeholder {
								color: @color-white;
							}
							&::-webkit-input-placeholder {
								color: @color-white;
							}
						}
						.action.search {
							display: none;
						}
						.control{
							padding: 0;
							input{
								border: 1px solid @_color-theme-second;
								border-radius: 0;
							}
						}
						.nested{
							display: none;
						}
					}
				}
				&:hover {
					color: @color-white;
					cursor: pointer;
				}
			}
			li.level0 {
				border-right: 1px dashed #474747;
				margin: 0;
				&:last-child {
					padding-right: 20px;
				}
				&:first-child {
					border-left: 1px dashed #474747;
				}
				.submenu li {
					border-right: none;
					&:first-child {
						border-left: none;
					}
				}
				a.level-top {
					color: #8f8f8f;
					padding: 0 25px;
				}
				.minicart-wrapper {
					margin: 0;
					.action.showcart {
						&:hover:before {
							color: @color-white;
						}
						&:before {
							content: "\f291 ";
							font-family: 'fontawesome';
							font-size: 14px;
							line-height: 53px;
						}
					}
				}
			}
		}
	}
	.nav-sections {
		background-color: #3a3a3c;
		border-top: 1px dashed #474747;
		border-bottom: 5px solid #222222;
		margin-bottom: 0;
		width: 100%;
		float: left;
	}
	.nav-sections-items {
		width: 100%;
		float: left;
		.section-item-title[aria-controls="store.links"] {
			display: none;
		}
		.section-item-title[aria-controls="store.menu"] {
			background: @_color-theme-second;
			border: none;
			width: 100%;
			float: left;
			a{
				color: @color-white;
				text-transform: uppercase;
				font-size: 27px;
			}
		}
	}
	.nav-sections-item-content{
		padding: 0;
	}
	.nav-sections-item-content {
		position: relative;
	}
}

//
//Breadcrumbs
//
.breadcrumbs{
	background-image: url('@{baseDir}images/breadcrumbs.jpg');
	max-width: unset;
	height: 200px;
	text-align: center;
	.page-title-wrapper{
		.page-title{
			margin-top: 60px;
			.base{
				text-transform: uppercase;
				color: @color-white;
				font-size: 36px;
				font-weight: 300;
			}
		}
	}
	.items{
		margin-top: 15px;
		font-size: 14px;
		color: @color-white;
		a{
			color: @color-white;
		}
		.item:not(:last-child){
			&:after{
				content: '/';
				font-family: @font-family-name__base;
				font-size: 16px;
				margin-left: 12px;
				margin-right: 12px;
			}
		}
	}
}
.block{
	margin-bottom: 20px;
}
//
//Banner Header
//
.banner.banner-header{
	width: 100%;
	img{
		width: 100%;
	}
	.left{
		position: relative;
		width: 66.66%;
		float: left;
		padding-right: 15px;
		box-sizing: border-box;
		.banner-slide{
			.slick-slide>div {padding: 0 !important;}
			.slick-next,.slick-prev{
				display: none !important;
			}
			.slick-dots{
				text-align: right;
				right: 30px;
				bottom: 20px;
				li{
					margin: 0 1px;
					button{
						&:before{
							font-size: 14px;
							opacity: .6;
						}
					}
					&.slick-active{
						button{
							&:before{
								color: @_color-theme-second;
								opacity: 1;
							}
						}
					}
				}
			}
		}
		.item{
			position: relative;
		}
		.banner-content{
			position: absolute;
			width: 40%;
			right: 15px;
			top: 40%;
			p{
				text-align: center;
				font-family: 'Willona';
				&:first-child{
					font-size: 106px;
					color: @_color-theme-second;
					line-height: 53px;
				}
				&:not(:first-child){
					font-size: 53px;
					color: #596053;
				}
			}
			.button{
				font-weight: 700;
				width: 140px;
				height: 40px;
				border-radius: 0;
				color: @color-white;
				background-color: @_color-theme-second;
				text-transform: uppercase;
			}
		}
	}
	.right{
		float: left;
		width: 33.33%;
		padding-left: 15px;
		box-sizing: border-box;
		.top{
			margin-bottom: 20px;
			.item{
				position: relative;
			}
			.banner-content{
				position: absolute;
				right: 20px;
				bottom: 20px;
				text-align: right;
				p{
					font-size: 18px;
					&:first-child, &:last-child{
						font-weight: 300;
						margin: 0;
					}
					&:nth-child(3){
						font-weight: 700;
						margin-top: 20px;
					}
				}
				.price{
					color: #ff8400;
					font-weight: 700;
					display: inline-block;
					border-bottom: 1px solid @_color-theme-second;
					padding-bottom: 20px;
					margin: 0;
				}
			}
		}
		.bottom{
			.item{
				position: relative;
			}
			.banner-content{
				position: absolute;
				left: 20px;
				bottom: 20px;
				p{
					font-size: 18px;
					&:first-child, &:last-child{
						font-weight: 300;
						margin: 0;
					}
					&:nth-child(3){
						font-weight: 700;
						margin-top: 20px;
					}
				}
				.price{
					color: #ff8400;
					font-weight: 700;
					display: inline-block;
					border-bottom: 1px solid @_color-theme-second;
					padding-bottom: 20px;
					margin: 0;
				}
			}
		}
	}
}
//
//Block Gif
//
.block-gif{
	width: 100%;
	display: inline-flex;
	.gif-item{
		display: block;
		width: calc((100% - 5%) / 3);
		float: left;
		&:nth-child(2){
			margin: 0 2.5%;
		}
		position: relative;
		.item-border{
			box-sizing: border-box;
			display: block;
			width: 100%;
			height: 96%;
			position: absolute;
			top: 2%;
			border: 1px solid @_color-border-page;
		}
		.gif-content{
			box-sizing: border-box;
			border: 1px solid #e6e5e5;
			padding: 20px 15px 20px 30px;
			margin: -5px 5px -5px 5px;
			position: relative;
			img, p{
				display: inline-block;
			}
			img{
				width: 32px;
				height: 32px;
				margin-right: 15px;
			}
			p{
				position: absolute;
				top: 50%;
				.transform(translateY(-50%));
				text-transform: uppercase;
			}
		}
	}
}
//
//Block Homepage 2
//
.block-advertise-container{
	width: 100%;
	height: auto;
	display: inline-block;
	position: relative;
	overflow: hidden;
	.img-background>img{
		width: 100%;
		height: 100%;
	}
	.block-content{
		position: absolute;
		text-align: center;
		width: 100%;
		top: 50%;
		.transform(translateY(-50%));
		color: @color-white;
		.title{
			font-weight: 300;
			font-size: 36px;
			line-height: 25px;
		}
		strong{
			font-weight: 700;
			font-size: 24px;
		}
		.button{
			width: 140px;
			height: 40px;
			background-color: @_color-theme-second;
			font-weight: 700;
			color: @color-white;
			border: none;
			border-radius: 0;
			text-transform: uppercase;
			margin-top: 20px;
		}
	}
}
//
//Column Main
//
.page-layout-2columns-left,.page-layout-2columns-right
{
	.column.main{
		width: 75%;
	}
	.sidebar-additional, .sidebar-main{
		width: 25%;
	}
}
//
//Toolbar-products
//

/* Custom Dropdown Select */
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-image: url('../images/dropdown.jpg');
	background-repeat: no-repeat;
	background-position: 95% 52%;
}
/*For IE*/
select:-ms-expand{
	display: none;
}
.toolbar.toolbar-products{
	.modes{
		.modes-mode{
			border-right: 1px solid #d1d1d1;
			margin-right: 10px;
		}
		.active{
			border: 2px solid @_color-theme-second;
			&:before{
				color: @_color-theme-second;
			}
		}
	}
	.toolbar-amount{
		display: none;
	}
	&:after{
		margin-top: 20px;
		content: '';
		display: inline-block;
		width: 100%;
		height: 1px;
		background-color:  #e6e5e5;
	}
	.toolbar-sorter.sorter{
		float: right;
		margin-right: 20px;
		.sorter-label{
			margin-right: 15px;
		}
		.sorter-options{
			border: 1px solid #e6e5e5;
			font-size: 12px;
			color: #868686;
			height: 35px;
			width: 160px;
		}
	}
}
.page-products .toolbar .limiter{
	display: inline-block;
	float: right;
	padding: 4px 0 0;
	.label{
		margin-right: 15px;
	}
	.limiter-options{
		height: 35px;
		border: 1px solid #e6e5e5;
		font-size: 12px;
		color: #868686;
		option{
			padding-right: 15px;
		}
	}
	.limiter-text{
		display: none;
	}
}
.toolbar{
	padding-right: 0;
	padding-left: 0;
}
.toolbar-products{
	margin-bottom: 30px;
}
.products.wrapper ~ .toolbar{
	&:before{
		margin-bottom: 30px;
		content: '';
		display: inline-block;
		width: 100%;
		height: 1px;
		background-color:  #e6e5e5;
	}
	&:after{
		margin: 0;
		height: 0;
		width: 0;
	}
	.limiter{
		display: none;
	}
	.pages{
		float: unset;
		a.page{
			color: @color-black;
		}
		.items{
			.item{
				font-size: 13px;
				border: 1px solid #d1d1d1;
				.action{
					border: none;
				}
				width: 35px;
				height: 35px;
				&:not(:last-child){
					margin-right: 10px;
				}
			}
			.item.current{
				strong.page{
					color: @_color-theme-second;
				}	
				border: 1px solid @_color-theme-second;
			}
			.item.pages-item-previous{
				margin-right: 10;
				.action.previous{
					margin-right: 0;
					&:before{
						content: '\f177';
						font-family: fontawesome;
						color: @color-black;
						font-size: 14px;
						margin: 0;
					}
				}
			}
			.item.pages-item-next{
				margin-left: 10;
				.action.next{
					margin-left: 0;
					&:before{
						content: '\f178';
						font-family: fontawesome;
						color: @color-black;
						font-size: 14px;
						margin: 0;
					}
				}
			}
		}
	}
}
//
//Home Newsletter
//
.home-newsletter{
	display: block;
	background-color: #e1e1e1;
	.block.newsletter{
		box-sizing: border-box;
		margin: 20px auto;
		max-width: 1280px;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
		.title{
			width: 16.66%;
			margin-bottom: 0;
			span{
				color: @color-black;
				margin: 0;
				&:after{
					margin-left: 0;
					margin-top: 15px;
				}
			}
		}
		.content{
			width: 83.33%;
			.form.subscribe{
				display: block;
				width: 100%;
				box-sizing: border-box;
				.field.newsletter{
					width: 80%;
					margin: 0;
					padding: 0 5px;
					input{
						background-color: @color-white;
						color: @color-black;
						width: 100%;
					}
					display: block;
					float: left;
				}
				.actions{
					width: 20%;
					text-align: right;
					button{
						width: 140px;
						height: 40px;
						background-color: @_color-theme-second;
					}
				}
			}
		}
	}
}

//
//Home Brands
//
.amslider.am-brand-slider .am-image-wrapper .am-image{
	filter: grayscale(100%);
	&:hover{
		filter: unset;
	}
}
.swiper-button-next, .swiper-button-prev{
	width: 18px;
	height: 25px;
	background-size: 18px 25px;
	-moz-background-size: 18px 25px;
	-webkit-background-size: 18px 25px;
	margin-top: -12px;
}

//
//Testimonals
//
.testimonial-main{
	width: 100%;
	padding: 65px 75px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid @_color-border-page;
	.title{
		text-transform: uppercase;
		position: relative;
		p{
			font-weight: 300;
			font-size: 26px;
		}
		strong{
			font-weight: 700;
			font-size: 32px !important;
		}
		&:after{
			content: '';
			display: block;
			width: 60px;
			height: 1px;
			background-color: @_color-theme-second;
			margin: 20px 0;
			position: absolute;
			left: ~"calc(50% - 30px)";
		}
	}
	ul{
		padding: 0 !important;
		margin: 0 auto 30px auto;
		width: 80%;
		li{
			&:before{
				content: '\f10d';
				display: block;
				font-family: 'fontawesome';
				font-size: 24px;
				color: @_color-border-page;
				margin: 30px 0 25px 0;
			}
			p{
				color: #5a5858;
			}
		}	
	}
	.img-dot-slide{
		.slick-track{
			float: left;
			left: -10px;
			display: flex;
			justify-content: center;
		}
		img{
			border-radius: 50%;
		}
		.slick-slide.slick-current.slick-center{
			margin: 0px 10px !important;
			width: 65px !important;
			.img-dot{
				width: 65px !important;
				height: 65px;
				img{
					filter: unset;
				}
			}
		}
		.slick-slide{
			margin: 8px 10px !important;
			width: 50px !important;
			.img-dot{
				width: 50px !important;
				height: 50px;
				img{
					filter: grayscale(100%);
				}
			}
		}
	}
}

//
//Product Grid
//
.grid.products-grid{
	.product-item, .product-item-custom, .product-item-slide{
		position: relative;
		width: calc((100% - 1%) / 3);
		padding: 0 8px;
		box-sizing: border-box;
		&:nth-child(even){
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
		&:nth-child(odd){
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
		.product-item-info{
			width: 100%;
			height: auto;
			box-sizing: border-box;
			border-radius: 10px;
			border: 3px solid transparent;
			.product-image-container{
				width: 100% !important;
			}
			.product-item-details{
				.product-item-inner{
					.product-item-actions{
						text-align: center;
						.actions-secondary{
							position: relative;
							display: flex;
							flex-direction: column-reverse;
							top: -3px;
							&:before{
								margin: auto;
								content: '';
								width: 95%;
								height: 1px;
								background-color: @_color-border-page;
								display: inline-block;
								position: absolute;
								top: -17px;
								left: 3%;
								z-index: -1;
							}
							.action.towishlist{
								position: absolute;
								left: 0;
								visibility: hidden;
								background: @color-white;
							}
							.action.tocompare{
								position: absolute;
								right: 0;
								visibility: hidden;
								background: @color-white;
							}
						}
					}
				}
				.product-item-name{
					text-align: center;
					margin: 30px 0 0 0;
					a:hover{
						text-decoration: none;
						color: @_color-theme-second;
					}
				}
				.product-reviews-summary{
					width: 100%;
					text-align: center;
					.rating-summary{
						text-align: center;
						.rating-result{
							&>span:before{
								color: @_color-theme-second;
							}
							&:before{
								left: -5px;
							}
						}
					}
					.reviews-actions{
						display: none;
					}
				}
				.price-box.price-final_price{
					text-align: center;
					display: inline-flex;
					flex-direction: row-reverse;
					font-weight: 700;
					justify-content: center;
					width: 100%;
					.price-final_price{		
						color: #ed8407;
						font-size: 16px;
					}
					.special-price, .old-price{
						display: inline !important;
					}
					.old-price{
						.price-final_price{
							color: @color-black !important;
						}
						margin-right: 5px;
					}
					.price-label{
						display: none;
					}
				}
				.swatch-attribute-options{
					/*display: flex;
					justify-content: center;*/
					margin: 10px 10px;
				}
			}

			&:hover{
				border-radius: 10px;
				border: 3px solid @_color-border-page;
				.action.towishlist{
					.transition(all, 0.8s, ease);
					visibility: visible !important;
					left: 18% !important;
				}
				.action.tocompare{
					.transition(all, 0.8s, ease);
					visibility: visible !important;
					right: 18% !important;
				}
			}
		}
	}
}
//
//Product List
//
.products.wrapper.list.products-list{
	.product-item{
		position: relative;
		border: 2px solid @_color-border-page;
		margin-bottom: 30px;
		box-sizing: border-box;
		.product-item-info{
			padding-top: 3px;
			.product-item-photo{
				padding: 0;
				box-sizing: border-box;
				border-right: 2px solid @_color-border-page;
			}
			.product.details.product-item-details{
				display: flex;
				flex-direction: column;
				padding: 30px 30px 0 30px;
				.product-item-name{
					order: 1;
					margin: 0;
					a:hover{
						text-decoration: none;
						color: @_color-theme-second;
					}
				}
				.price-box.price-final_price{
					display: inline-flex;
					flex-direction: row-reverse;
					justify-content: left;
					margin-bottom: 0;
					.price-final_price{		
						color: #ed8407;
					}
					.special-price{
						margin-left: 3px;
						font-weight: bold;
					}
					.old-price{
						padding-top: 5px;
						.price-wrapper{
							.price{
								font-size: 12px !important;
							}
						}
						font-size: 12px;
						.price-final_price{
							color: @color-black !important;
						}
					}
					.price-label{
						display: none;
					}
					.price{
						font-size: 16px;
					}
				}
				.product-reviews-summary{
					order: 2;
					.rating-result{
						&>span:before{
							color: @_color-theme-second;
						}
					}
					.reviews-actions{
						display: none;
					}
				}
				.price-box.price-final_price{
					order: 3;
				}
				.product-item-inner{
					order: 4;
					display: flex;
					flex-direction: column-reverse;
					margin-bottom: 20px;
					.product-item-actions{
						position: relative;
						.actions-secondary{
							margin-left: 12px;
							a:first-child{
								margin-right: 12px;
							}
							.action.towishlist::before, .action.tocompare::before{
								padding-bottom: 2px;
							}
						}
						&:after{
							position: absolute;
							display: block;
							height: 1px;
							width: 110%;
							background: @_color-border-page;
							content: '';
							left: -5%;
							bottom: 20px;
							z-index: -1;
						}
					}
					.product-item-description{
						a{
							color: @_color-theme-second;
							&:hover{
								text-decoration: none;
								color: @_color-theme-second;
							}
						}
					}
				}
				& div[class^="swatch-opt"]{
					order: 4; 
				}
			}
		}
	}
}

//
//Product Details
//
.catalog-product-view{
	.page-main{
		.columns{
			margin-top: 110px;
			.column main{
				.product media{
				}
			}
		}
	}
}
.product-info-main{
	margin-bottom: 30px;
	.product-info-price{
		border-bottom: 1px dashed @_color-border-page;
	}
	.product.attribute.sku{
		.type{
			display: none;
		}
		.value{
			font-weight: 700;
			font-size: 20px;
			color: @color-black;
		}
	}
	.price-box{
		margin: 0 0 15px 0;
		display: inline-flex;
		flex-direction: row-reverse;
		justify-content: left;
		color: #ed8407;
		font-size: 20px;
		.price-label{
			display: none;
		}
		.special-price{
			margin: 0 0 0 3px;
		}
		.old-price{
			color: @color-black;
			span{
				font-size: 13px !important;
			}
		}
	}
	.product-reviews-summary{
		margin: 10px 0 10px;
	}
	.stock-vailability{
		display: flex;
		flex-direction: column;
		.product.attribute.sku{
			color: @color-black;
			.type{
				display: unset;
			}
			.value{
				display: none;
			}
		}
		.stock.available{
			margin-top: 10px;
			span{
				text-transform: none;
				font-weight: 400;
				color: #ababab;
			}
		}
	}
	.product.attribute.overview{
		margin: 15px 0;
		.value{
			margin-top: 10px;
			p,span,strong{
				color: #ababab !important;
			}	
		}
	}
	.product-add-form{
		width: 70%;
		float: left;
		.box-tocart{
			width: 100%;
			.fieldset{
				display: flex;
				flex-direction: column;
				width: 100%;
				.field.qty{
					margin-bottom: 25px;
					label{
						margin-bottom: 20px;
						text-transform: uppercase;
					}
				}
				.actions{
					text-align: left;
					padding-top: 0;
					.action.tocart.primary{
						display: inline-flex;
						& > span{
							display: unset;
							text-transform: uppercase;
							font-weight: 700;
							font-size: 16px;
							color: @_color-theme-second;
							margin-left: 25px;
							margin-bottom: auto;
							margin-top: auto;
						}
						&:before{
							padding-top: 11px;
						}
					}
				}
			}
		}
	}
	.product-social-links{
		width: 29%;
		float: right;
		position: relative;
		top: 142px;
		.product-addto-links{
			margin: 0;
			.action.towishlist{
				padding: 6px 6px;
				width: 20px;
				display: inline-block;
				line-height: 20px;
				text-align: center;
				& > span {
					display: none;
				}
				background-color: @color-white;
				border: 1px solid @_color-theme-second;
				border-radius: 50%;
				&:before{
					display: block;
					font-size: 16px !important;
					color: @_color-theme-second !important;
					content: '\f004' !important;
					font-family: fontawesome !important;
				}
				&:hover{
					text-decoration: none;
					.custom-btn-action-hover() !important;
				}
			}
			.action.tocompare{
				padding: 6px 6px;
				width: 20px;
				display: inline-block;
				line-height: 20px;
				text-align: center;
				margin-left: 5px;
				& > span {
					display: none;
				}
				background-color: @color-white;
				border: 1px solid @_color-theme-second;
				border-radius: 50%;
				&:before{
					display: block;
					font-size: 16px;
					color: @_color-theme-second;
					content: '\f074';
					font-family: fontawesome;
				}
				&:hover{
					text-decoration: none;
					.custom-btn-action-hover();	
				}
			}
		}
	}
	.share-links{
		border-top: 1px dashed @_color-border-page;
		padding-top: 25px;
		display: flex;
		width: 100%;
		justify-content: space-between;
		.share-email{
			margin-top: 10px;
			a{
				color: @color-black;
			}	 
		}
		.addthis_sharing_toolbox{
			display: flex;
			.big-text{
				color: #868686;
				margin-top: 10px;
			}
			ul{
				padding-left: 20px;
				list-style: none;
				li{
					width: 35px;
					height: 35px;
					display: inline-block;
					&:not(:last-child){
						margin-right: 3px;
					}
					a{
						display: block;
						box-sizing: border-box;
						border: 3px solid @_color-border-page;
						width: 100%;
						height: 100%;
						color: @_color-border-page;
						text-align: center;
						padding-top: 5px;
						.transition(all, 0.2s, ease);
					}
					&:hover{
						a{
							border: 3px solid @_color-theme-second;
							color: @_color-theme-second;
						}
					}
				}
			}
		}
	}
}
.content-product-like{
	.block-title{
		strong{
			font-weight: 300;
			font-size: 24px;
			display: inline-block;
			&:after{
				display: inline-block;
				width: 100%;
				height: 3px;
				background: @_color-theme-second;
				content: '';
				margin-top: 30px;
			}
		}
		&:after{
			display: inline-block;
			width: 100%;
			height: 3px;
			background: @_color-border-page;
			content: '';
			top: -40px;
			position: relative;
			z-index: -1;
		}
	}
}
.bottom-banner{
	width: 100%;
	text-align: center;
	margin-bottom: 100px;
}
.product-item-custom{
	position: relative; 
	width: 100% !important;
	margin-left: 0% !important;
	&:nth-child(4n+1){
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	&:nth-child(3n){
		margin-right: 0% !important;
	}
	&:nth-child(4n){
		margin-right: 0% !important;
	}
	.product-image-container{
		width: 100% !important;
	}
	.product-item-actions{
		text-align: center;
		.actions-secondary{
			position: relative;
			display: flex;
			flex-direction: column-reverse;
			top: -3px;
			&:before{
				margin: auto;
				content: '';
				width: 95%;
				height: 1px;
				background-color: @_color-border-page;
				display: inline-block;
				position: absolute;
				top: -17px;
				left: 3%;
				z-index: -1;
			}
			.action.towishlist{
				position: absolute;
				left: 0;
				visibility: hidden;
				background: @color-white;
			}
			.action.tocompare{
				position: absolute;
				right: 0;
				visibility: hidden;
				background: @color-white;
			}
		}
	}
	.product.details.product-item-details{
		.field.choice.related{
			display: none;
		}
	}
}
.product-item-slide{
	position: relative; 
	width: 100% !important;
	margin-left: 0% !important;
	&:nth-child(4n+1){
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	&:nth-child(3n){
		margin-right: 0% !important;
	}
	&:nth-child(4n){
		margin-right: 0% !important;
	}
	.product-image-container{
		width: 100% !important;
	}
	.product-item-actions{
		text-align: center;
		.actions-secondary{
			position: relative;
			display: flex;
			flex-direction: column-reverse;
			top: -3px;
			&:before{
				margin: auto;
				content: '';
				width: 95%;
				height: 1px;
				background-color: @_color-border-page;
				display: inline-block;
				position: absolute;
				top: -17px;
				left: 3%;
				z-index: -1;
			}
			.action.towishlist{
				position: absolute;
				left: 0;
				visibility: hidden;
				background: @color-white;
			}
			.action.tocompare{
				position: absolute;
				right: 0;
				visibility: hidden;
				background: @color-white;
			}
		}
	}
	.product.details.product-item-details{
		.field.choice.related{
			display: none;
		}
	}
	.old-price{
		text-decoration: unset;
		.price{
			text-decoration: line-through;
		}
	}
}


//
//Widget Block
//
.widget>.block-title{
	&:after{
		display: block;
		width: 100%;
		height: 1px;
		background-color: @_color-theme-second;
		content: '';
		position: absolute;
		z-index: -1;
		bottom: 10px;
	}
	margin-bottom: 20px;
	position: relative;
	strong{
		background-color: @color-white;
		font-size: 36px;
		padding-right: 10px;
	}
}

//
//Slide Slick
//
/*.slick-list {margin: 0 -10px;}*/
.slick-slide>div {padding: 0 10px;}
.slick-prev{
	border: 1px solid #ccc;
	width: 30px;
	height: 30px;
	left: -40px;
	&:before{
		font-family:'fontawesome';
		content: '\f104';
		color: #ccc;
		font-size: 20px;
	}
	&:hover{
		&{
			border: 1px solid @_color-theme-second;
		}
		&:before{
			color: @_color-theme-second;
		}
	}
}
.slick-next{
	width: 30px;
	height: 30px;
	right: -40px;
	border: 1px solid #ccc;
	&:before{
		font-family:'fontawesome';
		content: '\f105';
		color: #ccc;
		font-size: 20px;
	}
	&:hover{
		&{
			border: 1px solid @_color-theme-second;
		}
		&:before{
			color: @_color-theme-second;
		}
	}
}

//
//Product View Fotorama
//
.fotorama__stage{
	box-sizing: border-box;
	border: 1px solid @_color-border-page;
	margin-bottom: 22px;
}
.fotorama__nav-wrap.fotorama__nav-wrap--horizontal{
	.fotorama__nav__frame{
		box-sizing: border-box;
		border: 1px solid @_color-border-page;
		margin-right: 15px;
		padding: 0 !important;
	}
	.fotorama__thumb-border{
		border: 1px solid @_color-theme-second;
		margin: 0 !important;
	}
}
//
//Lable Product Sale
//
.label-product.label-sale{
	float: right;
	right: 20px;
	position: absolute;
	top: 20px;
	z-index: 3;
	background: #ffc232;
	color: @color-white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	width: 37px;
	height: 37px;
	text-align: center;
	line-height: 38px;
	border-radius: 6px;
	.transform(rotate(-45deg));
	.sale-product-icon{
		display: block;
		.transform(rotate(45deg));
		position: relative;
		&:before{
			position: absolute;
			content: "";
			top: 0;
			left: 50%;
			width: 4px;
			height: 4px;
			background: #fff;
			margin-left: -2px;
			border-radius: 50%;
		}
	}
}

//
//Lable Product Featured
//
.label-product.label-featured{
	float: left;
	left: 20px;
	position: absolute;
	top: 20px;
	z-index: 3;
	background: #ff8f3c;
	color: @color-white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	width: 37px;
	height: 37px;
	text-align: center;
	line-height: 38px;
	border-radius: 6px;
	.transform(rotate(-45deg));
	.featured-product-icon{
		display: block;
		.transform(rotate(45deg));
		position: relative;
		&:before{
			position: absolute;
			content: "";
			top: 0;
			left: 50%;
			width: 4px;
			height: 4px;
			background: #fff;
			margin-left: -2px;
			border-radius: 50%;
		}
	}
}
//
//SlideBar
//
.sidebar.sidebar-main{
	.block-title.filter-title{
		&:after{
			width: 100%;
			height: 2px;
			background-color: @_color-border-page;
			display: block;
			margin: 20px 0;
			content: '';
		}
	}
	.block-content.filter-content{
		.filter-options{
			.filter-options-title{
				font-size: 20px;
				&:after{
					width: 100%;
					height: 2px;
					background-color: @_color-border-page;
					display: block;
					margin: 20px 0;
					content: '';
				}
			}
			.filter-options-content{
				ol,ul{
					li{	
						input{
							display: none;
						}
						.transition(all, 0.4s, ease);
						margin-bottom: 12px;
						a{
							color: @color-black;
						}
						&:hover{
							margin-left: 0;
							a{	
								text-decoration: none;
								color: @_color-theme-second;
							}
							&:before{							
								opacity: 1;
								margin-left: 0;
							}
						}
						&:before{
							.transition(all, 0.4s, ease);
							content: '\f178';
							font-family: fontawesome;
							color: @_color-theme-second;
							font-size: 14px;
							opacity: 0;
							margin-right: 5px;
							margin-left: -15px;
						}
					}
					li:has(input[checked=""]){
						margin-left: 0;
						a{	
							text-decoration: none;
							color: @_color-theme-second;
						}
						&:before{							
							opacity: 1;
							margin-left: 0;
						}
					}
				}
				.am-filter-items-attr_price{
					.ui-slider-horizontal{
						.ui-slider-range{
							background: @_color-theme-second;
						}
						a{
							background: @_color-theme-second;
						}
					}
				}
			}
		}

		//
		//Amasty
		//
		.filter-current.am-filter-current{
			.filter-current-subtitle{
				font-size: 20px;
				font-weight: 700;
				width: 100%;
				&:after{
					width: 100%;
					height: 2px;
					background-color: @_color-border-page;
					display: block;
					margin: 20px 0;
					content: '';
				}
			}
			.items{
				.item{
					.filter-label{
						display: inline-block;
					}
					.filter-value.am-filter-value{
						color: @_color-theme-second;
					}
					.action.remove{
						float: right;
						text-decoration: none;
						span{
							display: none;
						}
						&:after{
							content: 'x';
							color: #ccc;
							font-size: 16px;
						}
						&:hover{
							&:after{
								color: @_color-theme-second;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
		.amasty-catalog-topnav{
			display: none;
		}
		.filter-current + .filter-actions{
			float: left;
			width: 100%;
			&:before{
				width: 100%;
				height: 1px;
				background-color: @_color-border-page;
				display: inline-block;
				margin-top: 20px;
				margin-bottom: 20px;
				content: '';
			}
			.filter-clear{
				text-decoration: none;
				color: @color-black;
				float: right;
				&:after{
					content: 'x';
					color: #ccc;
					font-size: 16px;
					margin-left: 5px;
				}
				&:hover{
					color: @_color-theme-second;
					&:after{
						color: @_color-theme-second;
					}
				}
			}
		}
	}
}

//
//Customize Btn Action
//
.action.tocart.primary{
	background: @color-white;
	border: none;
	padding: 0 !important;
	span{
		display: none;
	}
	&:before{
		display: block;
		box-sizing: border-box;
		height: 45px;
		width: 45px;
		background: @color-white;
		border: 1px solid @_color-theme-second;
		color: @_color-theme-second;
		border-radius: 50%;
		content :'\f291';
		font-family: fontawesome;
		font-size: 20px;
		color: @_color-theme-second;
		background: @color-white;
		/*margin-left: -5px;*/
		padding-top: 13px;
		.transition(all, 0.2s, ease) !important;
	}
	&:hover{
		&:before{
			color: @color-white;
			background: @_color-theme-second;
			.transition(all, 0.2s, ease);
		}
		.transition(all, 0.2s, ease);
	}
}
.actions-secondary{
	.action.towishlist{
		background-color: @color-white;
		border: 1px solid @_color-theme-second;
		border-radius: 50%;
		&:before{
			font-size: 16px !important;
			color: @_color-theme-second !important;
			content: '\f004' !important;
			font-family: fontawesome !important;
		}
		&:hover{
			.custom-btn-action-hover() !important;
		}
	}
	.action.tocompare{
		background-color: @color-white;
		border: 1px solid @_color-theme-second;
		border-radius: 50%;
		&:before{
			font-size: 16px;
			color: @_color-theme-second;
			content: '\f074';
			font-family: fontawesome;
		}
		&:hover{
			.custom-btn-action-hover();	
		}
	}
}
//
//Footer
//

.page-footer {
	background-color: #3a3a3b;
	.footer.nest {
		float: left;
		width: 100%;
		position: relative;
	}
}

.bg-footer {
	position: absolute;
	left: 0;
	width: 32%;
	height: 100%;
	background: url(../images/images-footer.jpg) no-repeat;
	background-image: url(../images/images-footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: inherit;
	opacity: 0.8;
}
.footer-content {
	float: left;
	width: 100%;
	padding: 58px 0 32px;
	.footer-logo {
		float: left;
		position: relative;
		width: 33.33333%;
		padding-right: 30px;
		box-sizing: border-box;
		figure {
			margin-bottom: 7px;
			a {
				margin: 0;
			}
		}

		figure,
		div {
			float: left;
			width: 100%;
			color: @color-white;
		}
		.footer-lg-text p {
			line-height: 22px;
			margin-bottom: 24px;
			padding-right: 15px;
		}
		.footer-lg-info {
			ul {
				padding: 0;
				margin: 0;
				li {
					list-style: none;
				}
				.address{
					.set-icon-footer(@_color-theme-second, "\f041");
				}
				.phone{
					.set-icon-footer(@_color-theme-second, "\f095");
				}
				.fax{
					.set-icon-footer(@_color-theme-second, "\f1ac");
				}
				.email{
					.set-icon-footer(@_color-theme-second, "\f0e0");
				}
			}
		}
	}
	.footer-links {
		float: left;
		border-left: 1px dashed #474747;
		border-right: 1px dashed #474747;
		width: 63.667%;
		.links-item {
			border-bottom: 1px dashed #474747;
			display: flex;
		}
		.links-item,
		.block.newsletter {
			float: left;
			width: 100%;
			.footer_column {
				float: left;
				width: 25%;
				padding-left: 30px;
				border-left: 1px dashed #474747;
				padding-bottom: 50px;
				box-sizing: border-box;
				&:first-child {
					border-left: 0;
				}
				.title {
					color: @color-white;
					position: relative;
					padding-bottom: 15px;
					text-transform: uppercase;
					font-size: 16px;
					&:before {
						content: "";
						width: 20px;
						height: 2px;
						left: 0;
						bottom: 0;
						background: @_color-theme-second;
						position: absolute;
					}
				}
				ul {
					padding: 0;
					margin: 0;
					.item-social {
						&:before {
							color: #8e8e8e;
							font-family: 'fontawesome';
							display: inline-block;
							margin-right: 10px;
							font-size: 19px;
							width: 24px;
						}
					}
					.facebook {
						.set-icon-footer(@_color-footer-info, "\f082");
					}
					.twitter {
						.set-icon-footer(@_color-footer-info, "\f081");
					}
					.google {
						.set-icon-footer(@_color-footer-info, "\f0d4");
					}
					.youtube {
						.set-icon-footer(@_color-footer-info, "\f166");
					}
					.linkedin {
						.set-icon-footer(@_color-footer-info, "\f08c");
					}
					li {
						list-style: none;
						a {
							color: #8e8e8e;
							&:hover {
								text-decoration: none;
								color: @_color-theme-second;
							}
						}
					}
				}
			}
		}
		.block.newsletter {
			.pdnewsletter {
				.title {
					display: block;
				}
			}
		}
	}
	.pdnewsletter {
		padding: 35px 10px 20px 10px;
		margin:0;
		float: left;
		width: 100%;
		box-sizing: border-box;
		.title {
			float: left;
			width: 30%;
			strong {
				position: relative;
				color: @color-white;
				text-transform: uppercase;
				&:before {
					content: "";
					top: 34px;
					left: 0;
					position: absolute;
					height: 2px;
					width: 20px;
					background: @_color-theme-second;
				}
			}
		}
		.content {
			width: 70%;
			float: left;
			input {
				width: 85%;
				padding-left: 35px;
				background: @color-white;
				border: 1px solid #e1e1e1;
			}
			.actions {
				.subscribe {
					padding: 8px 20px;
					border-radius: 3px;
					background: @_color-theme-second;
					border: none;
				}
			}
		}
	}
}

.block.newsletter{
	margin-top: 35px;
	display: flex;
	width: 66.67%;
	.title{	
		width: 25%;
		display: unset;
		font-weight: 700;
		span{
			margin-left: 30px;
			font-size: 16px;
			text-transform: uppercase;
			color: @color-white;
			font-weight: 700;
			&:after{
				content: " ";
				width: 23px;
				height: 2px;
				background-color: @_color-theme-second;
				margin-top: 17px;
				display: block;
				margin-left: 30px
			}
		}
	}
	.content{
		width: 75%;
		.field.newsletter{
			.control{
				&:before{
					content: '';
				}
			}
			margin-left: 30px;
			width: 90%;
			input{
				background-color: #464647;
				height: 40px;
				padding-left: 15px;
				box-sizing: content-box;
				border: none;
				color: @color-white;
			}
		}
		.actions{
			margin-left: 30px;
			width: 33.33%;
			text-align: center;
			.primary{
				background: #7da204;
				height: 40px;
				border: none;
			}
			span{
				font-weight: 700;
				text-transform: uppercase;
				font-weight: 700;
			}
		}
	}
}

.copyright{
	display: inline-flex;
	height: 50px;
	background-color: #2d2d2e;
	.copyright-content{
		display: block;
		float: left;
		color: @_color-footer-info;
		max-width: 1240px;
		margin: auto;
		flex-basis: auto;
		flex-grow: 1;
		padding: 0 20px;
		.left{
			p{
				line-height: 14px;
				margin-bottom: 18px;
				margin-top: 18px;
			}
			float: left;
			width: 70%;
		}
		.right{
			margin-bottom: 17px;
			margin-top: 17px;
			float: right;
			width: 30%;
			img{
				float: right;
			}
		}
	}
}

//
//Responsive
//

/*.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-header .navigation ul li.level0 a.level-top{
		padding: 0 15px !important;
		font-size: 13px;
	}
	}*/
	/* Desktop */
	@media screen and (min-width: 993px) and (max-width: 1280px){
		/* Header Menu */
		.page-header .navigation ul li.level0 a.level-top{
			padding: 0 15px !important;
			font-size: 13px;
		}
	}
	@media screen and (min-width: 993px) and (max-width: 1140px){
		/* Homepage Banner */
		.banner.banner-header{
			.left{
				.banner-content{
					top: 35%;
					p:first-child{
						font-size: 85px;
						line-height: 45px;
					}
					p:not(:first-child){
						font-size: 45px;
					}
				}
			}
		}

		/* Block Gif */
		.block-gif .gif-item .gif-content p{
			font-size: 12px;
		}
	}
	@media screen and (min-width: 993px) {
		.navigation .level0 .submenu{
			top: 63px !important;
		}
		.slick-prev{
			left: -20px;
		}
		.slick-next{
			right: -20px;
		}
	}
	/* Tablet */
	@media screen and (max-width: 992px) {
		// Footer
		.bg-footer {
			display: none;
		}
		.footer-content{
			.footer-logo{
				width: 100%;
				.nav-toggle{
					display: none;
				}
			}

			.footer-links{
				margin-top: 25px;
				width: 100%;
				position: relative;
				z-index: 9;
				border-left: 0;
				border-right: 0;
				.links-item{
					border-bottom:0;
					.footer_column{
						padding-left: 0;
						border-left:0;
					}
				}
			}
		} 
		.full-copyright{
			.copyrights{
				display: block;
				.copyright{
					width: 100%;
					text-align: center;
				}
				.payment-footer{
					width: 100%;
					display: flex;
					justify-content: center;
					padding-top: 10px;
					ul{
						float: left;
						width: 100%;
						padding: 0;
						margin: 0;
					}
				}
			}
		}
		.footer-content .footer-links .block.newsletter{
			margin: 25px 0;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 992px){
		/* Header Menu */
		.page-header .navigation ul li.level0 a.level-top{
			padding: 0 10px !important;
			font-size: 11px;
			line-height: 48px;
		}
		.navigation .level0 .submenu{
			min-width: 180px;
			top: 58.5px !important;
			a{
				font-size: 12px;
				padding: 8px 10px;
			}
			
		}
		/* Node Grid-List */
		.modes-mode{
			padding: 5px 6px;
		}
		/* Page Layout 2Column Grid and List Product */
		.page-layout-2columns-left,.page-layout-2columns-right{
			.column.main{
				width: 100%;
			}
			.sidebar-additional, .sidebar-main{
				width: 100%;
				padding-left: 0;
			}
		}
		/* Special Lable */
		.label-product.label-featured, .label-product.label-sale{
			width: 32px;
			height: 31px;
			span{
				line-height: 30px;
				&:before{
					width: 3px;
					height: 3px;
				}
			}
		}
		/* transition action in product list/grid */
		.grid.products-grid .product-item-custom .product-item-info:hover .action.tocompare,
		.grid.products-grid .product-item-slide .product-item-info:hover .action.tocompare{
			visibility: visible !important;
			right: 12% !important
		}
		.grid.products-grid .product-item-custom .product-item-info:hover .action.towishlist,
		.grid.products-grid .product-item-slide .product-item-info:hover .action.towishlist{
			visibility: visible !important;
			left: 12% !important
		}
		/* Homepage Banner */
		.banner.banner-header{
			.left{
				width: 100%;
				padding-right: 0;
			}
			.right{
				padding-left: 0;
				width: 100%;
				.top{
					width: 48%;
					margin-right: 4%;
					float: left;
				}
				.bottom{
					width: 48%;
					float: left;
				}
			}
		}
		/* Block Gif */
		.block-gif .gif-item .gif-content{
			padding: 20px 15px 20px 20px;
			p{
				font-size: 12px;
			}
		}

		/* Block Slide Products */
		.products-grid.grid{
			.slick-list{
				margin: 0 -5px;
			}
			.slick-prev{
				width: 20px;
				height: 20px;
				left: -20px;
				&:before{
					font-size: 16px;
				}
			}
			.slick-next{
				width: 20px;
				height: 20px;
				right: -20px;
				&:before{
					font-size: 16px;
				}
			}
		}
	}
	/* Mobile */
	@media screen and (max-width: 767px){
		/* Header Link & Logo */
		.page-header .header.content .logo{
			left: 30%;
		}
		.extra-menu{
			display: inline-flex !important;
			height: 40px;
			margin-bottom: 0;
			margin-left: 10px;
			float: right;
			list-style: none;
			.search-menu, .minicart-shopping {
				line-height: 40px;
				padding-right: 25px;
				margin: 0;
				color: #a9a9a9;
				small{
					font-size: 16px;
				}
			}
			li.search-menu {
				position: relative;
				.mage-dropdown-dialog {
					position: absolute;
					right: 0;
					.block-search {
						padding: 0 !important;
						margin: 0 !important;
						top: -4px;
						right: 0px;
						padding: 0 10px;
						input{
							border: 0;
							width: 100%;
							font-size: 14px;
							background-color: rgba(0, 0, 0, 0.5);
							color: @color-white;
							height: 30px;
							border-radius: 5px;
							&::placeholder {
								color: @color-white;
							}
							&::-webkit-input-placeholder {
								color: @color-white;
							}
						}
						.action.search {
							display: none;
						}
						.control{
							padding: 0;
							input{
								border: 1px solid @_color-theme-second;
								border-radius: 0;
							}
						}
						.nested{
							display: none;
						}
					}
					.block-search .label{
						display: none;
					}
					.block-search .control{
						border-top: 0;
					}
				}
				&:hover {
					color: @color-white;
					cursor: pointer;
				}
			}
			.minicart-wrapper {
				margin: 0;
				.action.showcart {
					padding-top: 2px;
					&:hover:before {
						color: @color-white;
					}
					&:before {
						content: "\f291 ";
						font-family: 'fontawesome';
						font-size: 16px;
						line-height: 40px;
					}
				}
				.block-minicart{
					right: -10px;
					padding: 10px 10px;
					width: 300px;
					top: 80%;
					right: -20px;
				}
			}
		}
		.page-header .panel.header .header-info{
			width: 100%;
			height: 40px;
			ul{
				height: 40px;
				li{
					line-height: 40px;
				}
			}
		}
		.navigation .level0{
			font-size: 1.25rem;
		}
		.page-header .header.content{
			height: auto;
		}
		.nav-toggle{
			top: 20px;
			left: 12px;
			&:hover{
				&:before{
					color: @color-white;
				}
			}
		}
		/*  Header Menu Mobile  */
		.nav-sections-item-title{
			a{
				color: @_color-theme-second !important; 
				font-size: 18px;
			}
		}
		.nav-sections-item-title.active{
			background: @_color-theme-second;
			a{
				color: @color-black !important;
			}
		}
		.page-header a, .page-header p{
			color: #113d11;
		}
		.navigation .level0 > .level-top:hover, .navigation .submenu > li > a:hover{
			color: @_color-theme-second;
		}
		.navigation{
			.search-menu, .minicart-shopping{
				display: none;
			}
		}
		
		.navigation li.level0:last-child{
			width: 100%;
			float: left;
		}
		.minicart-wrapper{
			float: left;
			.action.showcart:hover{
				&:before{
					color: @_color-theme-second;
				}
			}
			a{
				padding: 10px 0 10px 8px;
			}
		}
		/* Header Menu */
		.navigation .level0.active .all-category .ui-state-focus,
		.navigation .level0.active > a:not(.ui-state-active),
		.navigation .level0.has-active > a:not(.ui-state-active){
			border-color: @_color-theme-second;
		}
		/* Homepage Banner */
		.banner.banner-header{
			.left{
				width: 100%;
				padding-right: 0;
			}
			.right{
				padding-left: 0;
				width: 100%;
				.top{
					width: 48%;
					margin-right: 4%;
					float: left;
				}
				.bottom{
					width: 48%;
					float: left;
				}
			}
		}
		/* Block Gif */
		.block-gif .gif-item .gif-content{
			padding: 20px 15px 20px 20px;
			p{
				font-size: 12px;
			}
		}
		/* Slick Slide */
		.slick-slide > div{
			padding: 0;
		}
		/* Product To Compare */
		.compare, .product-addto-links .action.tocompare, 
		.product-item-actions .actions-secondary > .action.tocompare,
		[class*="block-compare"]{
			display: block;
		}

		/* Amasty btn */
		.swiper-button-next, .swiper-button-prev{
			width: 18px !important;
			height: 25px !important;
			background-size: 18px 25px !important;
			-moz-background-size: 18px 25px !important;
			-webkit-background-size: 18px 25px !important;
			margin-top: -12px !important;
		}
		.slick-dots li button::before{
			color: @_color-theme-second !important;
		}
		.slick-dots li.slick-active button::before{
			opacity: 1 !important;
		}
		/* Product List */
		.products.wrapper.list.products-list{
			& .action.tocompare{
				display: inline-block !important;
			}
			& .action.towishlist{
				display: inline-block !important;
			}
		}
		/* Product Detail */
		.product-info-main .product-info-price{
			margin-top: 20px;
		}
		.fotorama__nav-wrap.fotorama__nav-wrap--horizontal .fotorama__nav__frame{
			border: none;
		}
		.fotorama__active .fotorama__dot{
			background-color: @_color-theme-second !important;
			border-color: @_color-theme-second !important;
		}
	}
	@media screen and (max-width: 639px) {
		.products-list .product-item-photo{
			display: inline-flex;
			width: 100%;
			justify-content: center;
			border-right: none !important;
		}
		.products.wrapper.list.products-list .product-item 
		.product-item-info .product.details.product-item-details{
			text-align: center;
			.price-box.price-final_price{
				justify-content: center;
			}
		}
		.footer-content{
			.footer-links{
				.links-item{
					display: block;
					.footer_column{
						width: 50%;
						float: left;
						box-sizing: border-box;
						padding-bottom: 0;
					}
				}
			}
			.pdnewsletter{
				.title{
					width: 100%;
					strong{
						float: left;
					}
				}
				.content{
					width: 100%;
				}
			}
		} 

		.bg-footer{
			width: 100%;
		}
		.block.newsletter .content .field.newsletter{
			margin-left: 0;
			margin-top: 10px;
		}
		.block.newsletter .content .actions{
			padding-top: 10px;
		}
		.copyright .copyright-content{
			.left{
				width: 100%
			}
			.right{
				display: none;
			}
		}
	}
	@media screen and (min-width: 640px) and (max-width: 767px) {
		/* Home Banner Slide */
		.banner.banner-header{
			.left{
				.banner-content{
					top: 30%;
					p:first-child{
						font-size: 85px;
						line-height: 45px;
					}
					p:not(:first-child){
						font-size: 45px;
					}
				}
			}
			.right .top .banner-content p, .right .bottom .banner-content p{
				font-size: 17px;
			}
		}
		/* Home Block Gif */
		.block-gif .gif-item .gif-content {
			padding: 20px 15px 20px 10px;
		}
		/* Product List */
		/* transition action in product list/grid */
		.widget > .block-title strong {
			font-size: 32px;
		}
		.grid.products-grid .product-item .product-item-info:hover .action.tocompare,
		.grid.products-grid .product-item-custom .product-item-info:hover .action.tocompare,
		.grid.products-grid .product-item-slide .product-item-info:hover .action.tocompare{
			visibility: visible !important;
			right: 14% !important
		}
		.grid.products-grid .product-item .product-item-info:hover .action.towishlist,
		.grid.products-grid .product-item-custom .product-item-info:hover .action.towishlist,
		.grid.products-grid .product-item-slide .product-item-info:hover .action.towishlist{
			visibility: visible !important;
			left: 14% !important
		}

		/* Home Block Advertise */
		.block-advertise-container .block-content{
			.title{
				font-size: 32px;
			}
			strong{font-size: 22px;}
			.button{
				margin-top: 10px;
				width: 120px;
				height: 35px;
			}
		}
	}
	@media screen and (min-width: 480px) and (max-width: 639px) {
		/* Home Banner Slide */
		.banner.banner-header{
			.left{
				.banner-content{
					top: 30%;
					p:first-child{
						font-size: 70px;
						line-height: 30px;
					}
					p:not(:first-child){
						font-size: 36px;
					}
					.button{
						width: 100px;
						height: 35px;
						font-size: 13px;
					}
				}
			}
			.right{
				position: relative;
				top: -10px;
				.top, .bottom{
					width: 100%;
					.banner-content p{
						font-size: 22px;
					}
				}
			}
		}

		/* Home Block Gif */
		.block-gif{
			display: block;
			float: left;
			margin: 20px 0;
			.gif-item{
				&:nth-child(2){
					margin: 25px 0;
				}
				width: 100%;
				.gif-content{
					text-align: center;
					p{
						position: static;
					}
				}
			}
		}
		.widget > .block-title strong {
			font-size: 28px;
		}
		/* Home Block Advertise */
		.block-advertise-container .block-content{
			.title{
				font-size: 28px;
				line-height: 20px;
			}
			strong{font-size: 20px;}
			.button{
				margin-top: 10px;
				width: 100px;
				height: 35px;
			}
		}
		/* Product List */
		.grid.products-grid .product-item{
			width: calc(100% / 2);
		}
	}
	@media screen and (min-width: 420px) and (max-width: 550px) {
		.grid.products-grid .product-item-custom .product-item-info:hover .action.tocompare,
		.grid.products-grid .product-item-slide .product-item-info:hover .action.tocompare{
			visibility: visible !important;
			right: 12% !important
		}
		.grid.products-grid .product-item-custom .product-item-info:hover .action.towishlist,
		.grid.products-grid .product-item-slide .product-item-info:hover .action.towishlist{
			visibility: visible !important;
			left: 12% !important
		}
	}
	@media screen and (max-width: 479px){
		/* Header Link */
		.page-header .panel.wrapper{
			height: 60px;
			.header-info{
				height: 60px;
				ul{
					height: 60px;
					margin-bottom: 0;
					li{
						display: block;
					}
					li:first-child{
						margin-top: 9px;
						border-right: none;
					}
					li:nth-child(2){
						padding-left: 0;
						line-height: unset;
					}
				}
			}
		}
		/* Home Banner Slide */
		.banner.banner-header{
			.left{
				.banner-content{
					top: 20%;
					p:first-child{
						font-size: 45px;
						line-height: 20px;
					}
					p:not(:first-child){
						font-size: 28px;
						margin: 0;
					}
					.button{
						width: 90px;
						height: 30px;
						font-size: 11px;
					}
				}
			}
			.right{
				position: relative;
				top: -10px;
				.top, .bottom{
					width: 100%;
					.banner-content p{
						font-size: 17px;
					}
				}
			}
		}

		/* Home Block Gif */
		.block-gif{
			display: block;
			float: left;
			margin: 20px 0;
			.gif-item{
				&:nth-child(2){
					margin: 25px 0;
				}
				width: 100%;
				.gif-content{
					text-align: center;
					p{
						position: static;
						font-size: 11px;
					}
				}
			}
		}
		.widget > .block-title strong {
			font-size: 28px;
		}

		/* Home Block Advertise */
		.block-advertise-container .block-content{
			.title{
				font-size: 18px;
				line-height: 18px;
			}
			strong{font-size: 14px;}
			.button{
				margin-top: 0px;
				width: 80px;
				height: 20px;
				font-size: 10px;
				padding: 2px 0 !important;
			}
		}

		/* Testimonial Block */
		.testimonial-main{
			.title{
				p{
					font-size: 24px;
				}
				strong{
					font-size: 28px !important;
				}
			}
			padding: 30px 5px;
		}

		/* Product List */
		.page-products .toolbar .limiter{
			float: left;
			margin-right: 20px;
			margin-bottom: 10px;
			.label{
				margin-right: 5px;
			}
			.limiter-options{
				margin: 0;
			}
		}
		.toolbar.toolbar-products .toolbar-sorter.sorter{
			float: left;
			margin-right: 0;
			.sorter-label{
				margin-right: 5px;
			}
		}
		.grid.products-grid .product-item{
			width: 100%;
		}
		
		/* Product Detail */
		.product-info-main .share-links{
			.share-email{
				font-size: 13px;
				margin-top: 7px;
			}
			.addthis_sharing_toolbox{
				.big-text{
					margin-top: 5px;
				}
				ul{
					padding-left: 8px;
				}
				ul li{
					width: 30px;
					height: 30px;
					a{
						padding-top: 2px;
					}
				}
				
			}
		}
		.footer-content{
			.pdnewsletter {
				.title{
					width: 100%;
					padding-bottom: 0;
					strong{
						&::before{
							top: 25px;
						}
					}
				}
				.content{
					width: 100%;
					input{
						width: 100%;
					}
				}
			}
		}
		.block.newsletter .content .field.newsletter{
			margin-left: 0;
			margin-top: 10px;
		}
		.block.newsletter .content .actions{
			display: inline-block;
			padding-top: 20px;
			margin-left: 0;
		}
	}

	

