//
//Fonts
//
@font-family-name__base: 'Lato';

//
//Color
//
@_color-theme-second: #b7dc36;
@_color-background-partial: #3a3a3c;
@_color-header-info: #afafaf;
@_color-footer-info: #afafaf;
@_color-narbar-menu: #969696;
@_color-narbar-menu-active: @color-white;

//
//Header
//
.page-header{
	background-color: @_color-background-partial;
	a,p{
		color: @color-white;
	}
	.panel.header{
		margin-left: 0;
		margin-right: 0;
		.header-info{
			width: 50%;
			float: left;
			font-size: 13px;
			color: @_color-header-info;
			ul{
				list-style:none;
				li{
					i{
						margin-right: 5px;
					}
					display:inline-block;
					&:first-child{
						padding-right: 20px;
						border-right: solid 2px @_color-header-info;
						line-height: 14px;
					}
					&:nth-child(2){
						padding-left: 20px;
					}
				}
			}
		}
		.header.links{
			li{
				line-height: 14px;
				margin: 0px;
			}
			li:not(:last-child){
				border-right: solid 1px @_color-header-info;
				padding-right: 12px;
			}
			li:not(:first-child){
				padding-left: 10px;
			}
		}
	}
	.panel.wrapper{
		border-bottom: none;
		background-color: @color-black;
		height: 40px;
	}
	.header.content{
		padding: 25px 0px 20px 0px;
		height: 80px;
		.logo{
			margin-left: -80px;
			left: 50%;
		}
	}
	.sections.nav-sections{
		background-color: @_color-background-partial;
		font-family: 'Lato-Bold';
		margin-bottom: 0;
		height: 55px;
		border-top: dashed 1px #464647;

		.navigation{
			li{
				margin-right: 0;
				border-left: dashed 1px #464647;
				&:last-child{
					border-right: dashed 1px #464647;
				}
				a{
					text-transform: uppercase;
					line-height: 10px;
					padding: 20px 22px 20px 25px;
				}
			}

			background-color: @_color-background-partial;
			.level0.submenu a{
				color: @_color-narbar-menu;
			}
			.level0.submenu .active > a{
				color: @_color-narbar-menu-active;
				border-color: @_color-theme-second;
				border-width: 0 0 0 5px;
			}
			.level0 > .level-top{
				color: @_color-narbar-menu;
			}
			.level0.active > .level-top{
				color: @_color-narbar-menu-active;
				border-width: 0 0 5px;
				border-color: @_color-theme-second;
			}
			.level0.has-active > .level-top{
				color: @_color-narbar-menu-active;
				border-width: 0 0 5px;
				border-color: @_color-theme-second;
			}
		}
	}
	
}
//
//Breadcrumbs
//
.breadcrumbs{
	background-image: url('@{baseDir}images/breadcrumbs.jpg');
	max-width: unset;
	height: 200px;
	text-align: center;
	.title{
		text-transform: uppercase;
		margin-top: 50px;
		color: @color-white;
		font-size: 40px;
		font-family: 'Lato-Light';
		.type{
			font-family: @font-family-name__base;
		}
	}
	.items{
		margin-top: 15px;
		font-size: 14px;
		color: @color-white;
		a{
			color: @color-white;
		}
		.item:not(:last-child){
			&:after{
				content: '/';
				font-family: @font-family-name__base;
				font-size: 16px;
				margin-left: 12px;
				margin-right: 12px;
			}
		}
	}
}

//
//Toolbar-products
//
.toolbar.toolbar-products{
	.modes{
		.modes-mode{
			margin-right: 10px;
		}
		.active{
			border: 2px solid @_color-theme-second;
			&:before{
				color: @_color-theme-second;
			}
		}
	}
	.toolbar-amount{
		display: none;
	}
	&:after{
		margin-top: 20px;
		content: '';
		display: inline-block;
		width: 100%;
		height: 1px;
		background-color:  #e6e5e5;
	}
	.field limiter{
		display: unset;
	}
	.toolbar-sorter.sorter{
		.sorter-options{
			border: 1px solid #e6e5e5;
			font-size: 12px;
			color: #868686;
			height: 35px;
			width: 160px;
		}
	}
}
//
//Footer
//
//
.set-width-box(@width){
	display: block;
	width: @width;
	float: left;
}
.set-icon-footer(@color, @icon){
	&:before{
		font-family: fontawesome;
		content: @icon;
		color: @color;
		margin-right: 10px;
	}	
}
.page-footer{
	.footer.content{
		width: 100%;
		padding: 0;
		margin-top: 60px;

	}
	font-family: @font-family-name__base;
	background-color: @_color-background-partial;
	.footer.content{
		border-top : none;
		.about-us{
			.set-width-box(33.33%);
			img{
				width: 180px;
				height: 32px;
			}
			.content{
				margin-top: 15px;
				margin-bottom: 30px;
				color: @color-white;
				width: 75%;
			}
			.info{
				li{
					margin-bottom: 17px;
				}
				color: @_color-footer-info;
				.address{
					.set-icon-footer(@_color-theme-second, "\f041");
				}
				.phone{
					.set-icon-footer(@_color-theme-second, "\f095");
				}
				.fax{
					.set-icon-footer(@_color-theme-second, "\f1ac");
				}
				.email{
					.set-icon-footer(@_color-theme-second, "\f0e0");
				}
			}
		}
	}
	.footer-main{
		.set-width-box(66.67%);
		box-sizing: border-box;
		padding-bottom: 30px;
		.menu{
			.category, .infomation, .policies, .find-us{
				.set-width-box(25%);
				h4{
					margin-left: 30px;
					text-transform: uppercase;
					color: @color-white;
					font-size: 16px;
					margin-top: 0;
					&:after{
						content: " ";
						width: 23px;
						height: 2px;
						background-color: @_color-theme-second;
						margin-top: 17px;
						display: block;
					}
				}
				ul{
					margin-left: 30px;
					li{								
						margin-bottom: 10px;
						a{
							color: @_color-footer-info;
						}
						&:hover{
							a{
								text-decoration: none;
								color: @_color-theme-second;
							}								
						}
					}
				}
			}
			.find-us{
				ul{
					li{
						margin-bottom: 15px;
						&:first-child{
							.set-icon-footer(@_color-footer-info, "\f082");
						}
						&:nth-child(2){
							.set-icon-footer(@_color-footer-info, "\f081");
						}
						&:nth-child(3){
							.set-icon-footer(@_color-footer-info, "\f0d4");
						}
						&:nth-child(4){
							.set-icon-footer(@_color-footer-info, "\f166");
						}
						&:nth-child(5){
							.set-icon-footer(@_color-footer-info, "\f08c");
						}
					}
				}
			}
		}
	}
}

.block.newsletter{
	margin-top: 35px;
	display: flex;
	width: 66.67%;
	.title{	
		width: 25%;
		display: unset;
		font-family: 'Lato-Bold';
		span{
			margin-left: 30px;
			font-size: 16px;
			text-transform: uppercase;
			color: @color-white;
			font-weight: 700;
			&:after{
				content: " ";
				width: 23px;
				height: 2px;
				background-color: @_color-theme-second;
				margin-top: 17px;
				display: block;
				margin-left: 30px
			}
		}
	}
	.content{
		width: 75%;
		.field.newsletter{
			.control{
				&:before{
					content: '';
				}
			}
			margin-left: 30px;
			width: 66.67%;
			input{
				background-color: #464647;
				height: 40px;
				padding-left: 15px;
				box-sizing: content-box;
				border: none;
				color: @color-white;
			}
		}
		.actions{
			margin-left: 30px;
			width: 33.33%;
			.primary{
				background: #7da204;
				height: 40px;
				border: none;
			}
			span{
				font-family: 'Lato-Bold';
				text-transform: uppercase;
				font-weight: 700;
			}
		}
	}
}

.copyright{
	display: flex;
	height: 50px;
	background-color: #2d2d2e;
	.copyright-content{
		display: block;
		float: left;
		color: @_color-footer-info;
		max-width: 1280px;
		min-width: 1280px;
		margin: auto;
		.left{
			p{
				line-height: 14px;
				margin-bottom: 18px;
				margin-top: 18px;
			}
			float: left;
			width: 50%;
		}
		.right{
			margin-bottom: 17px;
			margin-top: 17px;
			float: right;
			width: 50%;
			img{
				float: right;
			}
		}
	}
}
